/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.media-details {
    &-container {
        display: flex;
        flex-direction: column;
        border-width: 1px;
        border-radius: 6px;
        border-color: gainsboro;
        border-style: solid;
        margin: 20px;
        box-sizing: border-box;
        min-width: 550px;
    }
    &-header {
        display: flex;
        justify-content:flex-end;
        background-color: #fcf6e3;
        border-radius: 5px;
        border-bottom: gainsboro;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-width: 1px;
        border-style: solid;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
    }
    &-body {
        padding: 20px;
        overflow: auto;
        height: 72vh;
    }
}

@media (max-width: 1180px){
    .media-details-container {
       min-width: 350px;
    }
  }
