.search-media {
  padding: 15px;
  display: flex;
  align-items:flex-start;
  justify-content: center;

  button {
    margin-left: 10px;
  }

  .search-input {
    width: 50%;
  }
}

.top-media {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}