<section class="search-media">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search for a Movie/TV show">
  </mat-form-field>
  <button mat-raised-button color="accent">Search</button>
  <button mat-raised-button color="accent" aria-label="Clear search">Clear</button>
</section>
<section>
  <div class="top-media">
    <h2>Trending Movies</h2>
    <app-top-media-list [mediaList]="topMoviesList"></app-top-media-list>
  </div>
  <div class="top-media">
    <h2>Trending TV Shows</h2>
    <app-top-media-list [mediaList]="topTVShowsList"></app-top-media-list>
  </div>
</section>

